# Valerie Magalong - Advanced Pandas: Transforming Data Challenge

## Wednesday, July 26, 2023
---

In [2]:
import pandas as pd

# Read xlsx data into new dataframe
original_df = pd.read_excel("Northwind_products_suppliers.xlsx")

# Make copy of original_df for later transformation
northwind_df = original_df.copy()

,product_id,product_name,quantity_per_unit,unit_price,units_in_stock,units_on_order,reorder_level,discontinued,category_name,company_name,country,website
0,1,Chai,10 boxes x 30 bags,18.00,39,0,10.0,1,Beverages,"Specialty Biscuits, Ltd.",UK,/
1,2,Chang,24 - 12 oz bottles,19.00,17,40,25.0,1,Beverages,Exotic Liquids,UK,NaN
2,2,Chang,24 - 12 oz bottles,19.00,17,40,25.0,1,Beverages,Exotic Liquids,UK,NaN
3,3,Aniseed Syrup,12 - 550 ml bottles,10.00,13,70,25.0,0,Condiments,Exotic Liquids,UK,""""""
4,4,Chef Anton's Cajun Seasoning,48 - 6 oz jars,22.00,53,0,0.0,0,Condiments,New Orleans Cajun Delights,USA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
73,63,Vegie-spread,15 - 625 g jars,43.90,24,0,5.0,0,Condiments,"Pavlova, Ltd.",Australia,NaN
74,64,Wimmers gute Semmelkn√∂del,20 bags x 4 pieces,33.25,22,80,30.0,0,Grains/Cereals,Plutzer Lebensmittelgro√üm√§rkte AG,Germany,NaN
75,65,Louisiana Fiery Hot Pepper Sauce,32 - 8 oz bottles,21.05,76,0,0.0,0,Condiments,New Orleans Cajun Delights,USA,NaN
76,66,Louisiana Hot Spiced Okra,24 - 8 oz jars,17.00,4,100,20.0,0,Condiments,New Orleans Cajun Delights,USA,NaN
77,69,Gudbrandsdalsost,10 kg pkg.,36.00,26,0,15.0,0,Dairy Products,Norske Meierier,Norway,NaN

### 1. What data is in the first 4 rows?

### 2. Calculate how many rows and columns are in this file.

### 3. What’s the maximum unit_price?

### 4. Use describe() to get the descriptive statistics for this file.

### 5. Replace any NULL values in reorder_level with 0.

### 6. Remove duplicate rows.

### 7. Change "Gustaf's Kn√§ckebr√∂d" To "Gustaf's Knäckebröd".

### 8. Remove the column for website.

### 9. Create a crosstab, with category_name in rows and country in columns.

### 10. Create a pivot table with average unit_price by category.

### 11. Create a pivot table with average reorder_level  by category (rows) and country (columns).

### 12. Create a groupby table with sum of discontinued products by company name.

### 13. Create a groupby table with maximum unit_price by country and category (both in rows).