# Valerie Magalong - Advanced Pandas: Transforming Data Challenge

## Wednesday, July 26, 2023
---

In [6]:
import pandas as pd

# Read xlsx data into new dataframe
original_df = pd.read_excel("Northwind_products_suppliers.xlsx")

# Make copy of original_df for later transformation
northwind_df = original_df.copy()

### 1. What data is in the first 4 rows?

In [7]:
northwind_df.head(4)

,product_id,product_name,quantity_per_unit,unit_price,units_in_stock,units_on_order,reorder_level,discontinued,category_name,company_name,country,website
0,1,Chai,10 boxes x 30 bags,18.0,39,0,10.0,1,Beverages,"Specialty Biscuits, Ltd.",UK,/
1,2,Chang,24 - 12 oz bottles,19.0,17,40,25.0,1,Beverages,Exotic Liquids,UK,NaN
2,2,Chang,24 - 12 oz bottles,19.0,17,40,25.0,1,Beverages,Exotic Liquids,UK,NaN
3,3,Aniseed Syrup,12 - 550 ml bottles,10.0,13,70,25.0,0,Condiments,Exotic Liquids,UK,""""""

### 2. Calculate how many rows and columns are in this file.

In [24]:
df_rows = northwind_df.index.size
df_columns = northwind_df.columns.size

print(f"There are {df_rows} rows in the Northwind dataframe.")
print(f"There are {df_columns} columns in the Northwind dataframe.")

There are 78 rows in the Northwind dataframe.
There are 12 columns in the Northwind dataframe.

In [23]:
# Double check using the info method
northwind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         78 non-null     int64
 1   product_name       78 non-null     object
 2   quantity_per_unit  78 non-null     object
 3   unit_price         78 non-null     float64
 4   units_in_stock     78 non-null     int64
 5   units_on_order     78 non-null     int64
 6   reorder_level      76 non-null     float64
 7   discontinued       78 non-null     int64
 8   category_name      78 non-null     object
 9   company_name       78 non-null     object
 10  country            78 non-null     object
 11  website            6 non-null      object
dtypes: float64(2), int64(4), object(6)
memory usage: 7.4+ KB

### 3. Whatâ€™s the maximum unit_price?

In [33]:
max_unit_price = northwind_df['unit_price'].max()

print(f"The maximum value in the unit_price column is: ${max_unit_price}")

The maximum value in the unit_price column is: $263.5

In [32]:
# Alternative solution
northwind_df.describe().loc['max', 'unit_price']

263.5

### 4. Use describe() to get the descriptive statistics for this file.

In [34]:
northwind_df.describe()

,product_id,unit_price,units_in_stock,units_on_order,reorder_level,discontinued
count,78.000000,78.000000,78.000000,78.000000,76.000000,78.000000
mean,38.525641,28.707821,40.205128,10.512821,12.631579,0.141026
std,22.617499,33.627362,36.010229,23.237757,10.907908,0.350301
min,1.000000,2.500000,0.000000,0.000000,0.000000,0.000000
25%,19.250000,13.062500,15.000000,0.000000,0.000000,0.000000
50%,38.500000,19.475000,26.000000,0.000000,12.500000,0.000000
75%,57.750000,33.137500,60.000000,0.000000,25.000000,0.000000
max,77.000000,263.500000,125.000000,100.000000,30.000000,1.000000

### 5. Replace any NULL values in reorder_level with 0.

### 6. Remove duplicate rows.

### 7. Change "Gustaf's KnâˆšÂ§ckebrâˆšâˆ‚d" To "Gustaf's KnÃ¤ckebrÃ¶d".

### 8. Remove the column for website.

### 9. Create a crosstab, with category_name in rows and country in columns.

### 10. Create a pivot table with average unit_price by category.

### 11. Create a pivot table with average reorder_level  by category (rows) and country (columns).

### 12. Create a groupby table with sum of discontinued products by company name.

### 13. Create a groupby table with maximum unit_price by country and category (both in rows).