# Valerie Magalong - Advanced Pandas: Transforming Data Challenge

## Wednesday, July 26, 2023
---

### 1. What data is in the first 4 rows?

### 2. Calculate how many rows and columns are in this file.

### 3. What’s the maximum unit_price?

### 4. Use describe() to get the descriptive statistics for this file.

### 5. Replace any NULL values in reorder_level with 0.

### 6. Remove duplicate rows.

### 7. Change "Gustaf's Kn√§ckebr√∂d" To "Gustaf's Knäckebröd".

### 8. Remove the column for website.

### 9. Create a crosstab, with category_name in rows and country in columns.

### 10. Create a pivot table with average unit_price by category.

### 11. Create a pivot table with average reorder_level  by category (rows) and country (columns).

### 12. Create a groupby table with sum of discontinued products by company name.

### 13. Create a groupby table with maximum unit_price by country and category (both in rows).