# Exploring Statistical Measures
## Penguins Data
---

### Setting a default style theme

In [1]:
import seaborn as sns

# Set the default style for visualizations
custom_params = {
    "axes.spines.right": False,
    "axes.spines.top": False
}

sns.set_theme(style = 'ticks', palette = 'Set2', font = 'Arial', rc = custom_params)

### Importing the data

In [2]:
# Load the Penguins example dataset into a dataframe
df_raw = sns.load_dataset('penguins')

# Make a new copy of df_raw (called df) for cleaning/transformation
df = df_raw.copy()

# Get summary info about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

---

### 1. Run the describe method on the penguins dataset. Which number is larger: the mean body mass or the median body mass?

---

### 2. Write code to display only the maximum value of each column.

---

### 3. Run value_counts() on the species column. Which species is the most common?

---

### 4. Write code to find the 90th percentile of body mass. Translate the result into a sentence.

---

### 5. Write code to group by species and find the median of all quantitative columns for each species. Based on these results, which species has the shortest median bill depth?

---

### 6. Create a kdeplot for the flipper length variable. Approximately (round to a multiple of 10), what is the most common value for this variable?

---