# Valerie Magalong - Pandas, Datasets, & DataFrames Challenge

## Tuesday, July 25, 2023

### Part One

1. Import pandas as “pd”.

In [1]:
import pandas as pd

2. Create three lists with five elements each. The first list should contain employees' first names, the second their last names, and the third should list their ages. You can make up this data.

3. Create a data dictionary from the three lists.

4. Create a pandas Series from the employee age list.

5. Determine the average employee age.

6. Write the Series to a CSV file.

### Part Two

Import `21st century MLB Batting.csv` into Python as a data frame.

Print the first five items in the data frame.

Print the last six items in the data frame.

Determine the average of the HR column.

Calculate the max of the `SO` column.

Save the data frame as an Excel file.

Create a subset of the data frame for players with more than 40 HR.

Save this new subset as a json file.